MQTT_BROKER=192.168.1.100
MQTT_USER=mqtt_user
MQTT_PASS=mqtt_password

# Hardware and Process Settings
DEVICE_NAME=pi_dashboard
# Path for Trixie/KMS: /sys/class/backlight/panel_backlight@1
# Path for Legacy: /sys/class/backlight/rpi_backlight
BACKLIGHT_PATH=/sys/class/backlight/panel_backlight@1
BROWSER_PROCESS=chromium

# URLs to load. Enclose the entire string in double quotes if using special characters (&, ?, =).
KIOSK_URLS="https://ha.local/weather, https://grafana.local/dashboard?refresh=1m&kiosk=1"

# Feature Toggles (true/false)
ENABLE_REMOTE_RESTART=true
ENABLE_OS_UPDATES=true
