MQTT_BROKER=XX.XX.XX
MQTT_USER=your_user
MQTT_PASS=your_password
# Path for Trixie/KMS: /sys/class/backlight/panel_backlight@1
# Path for Legacy: /sys/class/backlight/rpi_backlight
BACKLIGHT_PATH=/sys/class/backlight/panel_backlight@1
BROWSER_PROCESS=chromium
